<div class="card with-cards">
  <div class="card-content">

    <span class="card-title">
      <h3>User Details</h3>
    </span>

    <p><strong>Username: </strong><%= current_user.username %></p>

    <p><strong>Email: </strong><%= current_user.email %></p>

    <% if current_user.role == "admin" %>
      <p><%= @current_user.instructor.first_name %></p>
      <p>hi admin</p>

    <% elsif current_user.role == "parent" %>
      <p><strong>Family Name: </strong><%= current_user.family.family_name %></p>
      <p><strong>First Name: </strong><%= current_user.family.parent_first_name %></p>
      <p><strong>Active: </strong><%= current_user.active ? "Yes" : "No" %></p>

    <% end %>
  </div>



  <div class="card-action">
    <% if can? :edit, User %>
      <%= link_to 'Edit', edit_user_path(@user), :class=>"btn waves-effect waves-light blue" %>
    <% end %>


    <%= link_to 'Back', home_path, :class=>"btn waves-effect waves-light blue" %>
  </div>
</div>
